{% extends "pages/catalog.html" %}

{% block content %}
    <h1>Borrowed books</h1>
    {% if bookinstance_list %}
      {% for bookinst in bookinstance_list %}
      <div class="col-md-12 col-lg-8">
        <div class="card">
          <div class="card-header">
            <a href="{% url 'book-detail' pk=bookinst.book.id %}" class ="card-title" ><p style:"background-color:blue;"><strong> Description_Book</strong>  </p></a> 
          </div>
          <div class="table-responsive">
            <table class="table card-table table-vcenter">
              <tr>
                <td class="w-100">
                  <p href="#" class="text-reset"> <strong> Title:</strong> {{ bookinst.book.title }}</p>
                </td>
                <td class="text-nowrap text-secondary">
                  <strong> Author: </strong> {{bookinst.book.author}}, <strong> Genre: </strong>{{bookinst.book.genre}}, <strong> Summary: </strong>{{bookinst.book.summary}} , <strong> Isbn: </strong>{{bookinst.book.isbn}}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      {% endfor %}
    {% else %}
    <a href="{% url 'bookinstance_create' %}" class="btn btn-primary d-none d-sm-inline-block" >CREATE_BOOK_INSTANCE<a/>
      <p>There are no books borrowed.</p>
    {% endif %}
{% endblock %}