{% extends "pages/catalog.html" %}

{% block content %}
    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/js/tabler.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-flags.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-payments.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-vendors.min.css">

{% comment %} <a href="{% url 'author_create' %}">Criar_Author</a>  {% endcomment %}
<span class="d-none d-sm-inline">
  <h1 style="text-align: center;">Author List</h1> &nbsp &nbsp
    <a href="{% url 'author_create' %}" class="btn btn-primary d-none d-sm-inline-block" >
    {% comment %} data-bs-toggle="modal" data-bs-target="#modal-report"> {% endcomment %}
      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
      Create Author
    </a>
  </span>  
{% if authors %}
  {% for author in authors %}
  <div class="col-md-12 col-lg-8">
    <div class="card">
      <div class="card-header">
        <a href="{% url 'author_detail' pk=author.id %}" class ="card-title" ><p style:"background-color:blue;"><strong> Description_Author</strong>  </p></a> 
        {% comment %} <div class="card card-md"> ({{book.author}} , {{book.genre}}, {{book.summary}} , {{book.isbn}},) &nbsp &nbsp </div> {% endcomment %}
      </div>
      <div class="table-responsive">
        <table class="table card-table table-vcenter">
          <tr>
            <td class="w-100">
              <p href="#" class="text-reset"> <strong> Fist_name:</strong> {{ author.first_name }}   <strong> Last_name: </strong> {{author.last_name}}
              </p>
            </td>
            <td class="text-nowrap">
              <a href="{% url 'author_update' pk=author.id %}" class="text-secondary">
                <strong> Update_Author</strong>
              </a>
            </td>
            <td class="text-nowrap">
              <a href="{% url 'author_delete' pk=author.id %}" class="text-secondary">
                <strong>Delete_Author</strong> </a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
    {% comment %} <li class="card card-sm">
      <div class="col-md-5">
      <a href="{% url 'author_detail' pk=author.id %}">{{ author.first_name }}</a>({{author.last_name}}) &nbsp &nbsp 
      <a href="{% url 'author_update' pk=author.id %}">Atualizar_Author</a> &nbsp &nbsp 
      <a href="{% url 'author_delete' pk=author.id %}">Deletar_Author</a>
    </li>
    <div class="hr"></div> {% endcomment %}
  {% endfor %}
{% else %}
  <p>There are no books in the library.</p>
{% endif %}
{% endblock %}