{% extends "pages/catalog.html" %}

{% block content %}
  <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/js/tabler.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler.min.css">

  <h1>Delete Author</h1>

  <p>Are you sure you want to delete the author: {{ author }}?</p>
  {% comment %} {% if book.author %} {% endcomment %}
  <form action="" method="POST">
    {% csrf_token %}
    <button class="btn btn-danger" type="submit" value="Yes, delete."> Yes, delete.<button/>
    <a href="{{ view.get_success_url }}" class="btn btn-light">Cancel</a>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-flags.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-payments.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-vendors.min.css">
  </form>
{% endblock %}