{% extends "pages/catalog.html" %}

{% block content %}
<span class="d-none d-sm-inline">
<h1 style="text-align: center;">Book List</h1> &nbsp &nbsp
  <a href="{% url 'book_create' %}" class="btn btn-primary d-none d-sm-inline-block" >
  {% comment %} data-bs-toggle="modal" data-bs-target="#modal-report"> {% endcomment %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
    Create Book
  </a>
  </span>  
</a>

{% if books %}
  {% for book in books %}
  <div class="col-md-12 col-lg-8">
    <div class="card">
      <div class="card-header">
        <a href="{% url 'book-detail' pk=book.id %}" class ="card-title" ><p style:"background-color:blue;"><strong> Description_Book</strong>  </p></a> 
        {% comment %} <div class="card card-md"> ({{book.author}} , {{book.genre}}, {{book.summary}} , {{book.isbn}},) &nbsp &nbsp </div> {% endcomment %}
      </div>
      <div class="table-responsive">
        <table class="table card-table table-vcenter">
          <tr>
            <td class="w-100">
              <p href="#" class="text-reset"> <strong> Title:</strong> {{ book.title }}</p>
            </td>
            <td class="text-nowrap text-secondary">
              <strong> Author: </strong> {{book.author}}, <strong> Genre: </strong>{{book.genre}}, <strong> Summary: </strong>{{book.summary}} , <strong> Isbn: </strong>{{book.isbn}}
            </td>
            <td class="text-nowrap">
              <a href="{% url 'book_update' pk=book.id %}" class="text-secondary">
                <strong> Update_Book </strong>
              </a>
            </td>
            <td class="text-nowrap">
              <a href="{% url 'book_delete' pk=book.id %}" class="text-secondary">
                <strong>Delete_Book </strong> </a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

    {% comment %} <li class="card card-sm" id="books">
      <div class="col-md-5">
      <a href="{{ book.get_absolute_url }}" class ="card-title" ><p style:"background-color:blue;"> Title: {{ book.title }} </p></a> <div class="card card-md"> ({{book.author}} , {{book.genre}}, {{book.summary}} , {{book.isbn}},) &nbsp &nbsp </div>
      <a href="{% url 'book_update' pk=book.id %}" style:"background-color:blue;">Atualizar_Livro</a> &nbsp &nbsp 
      <button> <a href="{% url 'book_delete' pk=book.id %}">Deletar_Livro</a> </button>
      </div>
    </li>
    <div class="hr"></div> {% endcomment %}
  {% endfor %}
{% else %}
  <p>There are no books in the library.</p>
{% endif %}
</div>
{% endblock %}