{% extends "pages/catalog.html" %}

<!DOCTYPE html>
<html>
<head>
    <title>Create Book</title>
</head>
<body>
    <ul>
        {% comment %} {% for book in books %}
            <li style:"background-color:blue;"> {{ book.id }} - {{ book.summary }} </li>
        {% endfor %} {% endcomment %}
    </ul>
    <h1>Create New Book</h1>
    {% comment %} <form action="{% url 'criarLivro' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="submit" class="btn">Salvar</button>
    </form> {% endcomment %}
</body>
</html>